{% extends "main-cards.html" %} {% load static %} {% block cards %}
{% comment %} <div style="width: 500px">
  <canvas id="grafico-01"></canvas>
</div>
<div style="width: 500px">
  <canvas id="grafico-02"></canvas>
</div>
<div style="width: 500px">
  <canvas id="grafico-03"></canvas>
</div>
<div style="width: 500px">
  <canvas id="graficoX"></canvas>
</div> {% endcomment %}

<main id="main-cards">

</main>

{% comment %} config {% endcomment %}
{% comment %} <script src="{% static 'js-chart/gerarGrafico.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js-chart/chartjsline_thingspeak.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js-chart/configuracoesGraficos.js' %}"></script> {% endcomment %}

{% endblock cards %}
